$color-primary:rgb(4, 156, 176);
$color-primary-light:rgb(114, 218, 209);
$color-primary-dark:rgb(42, 120, 120);

$color-grey-light-1:#f7f7f7;

$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;


//FONT
$default-font-size:1.6rem;


//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;